---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/nexus/regions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 04d828b7374896d7867b03289ea20957
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"447b75f14eaedf6b3e59ea269af620e4"
    body:
      encoding: UTF-8
      string: '{"regions":[{"country_code":"US","country":"United States","region_code":"CA","region":"California"},{"country_code":"US","country":"United
        States","region_code":"TX","region":"Texas"}]}'
  recorded_at: Sun, 15 Jan 2017 13:34:23 GMT
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"to_country":"US","to_zip":"90002","to_state":"CA","to_city":"Los
        Angeles","amount":0,"shipping":"10.0"}'
    headers:
      Authorization:
      - Bearer 04d828b7374896d7867b03289ea20957
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6f9c7acc393cff4a65bed96c3bc131fc"
    body:
      encoding: UTF-8
      string: '{"tax":{"order_total_amount":10.0,"shipping":10.0,"taxable_amount":0.0,"amount_to_collect":0.0,"rate":0.0,"has_nexus":true,"freight_taxable":false,"tax_source":"destination"}}'
  recorded_at: Sun, 15 Jan 2017 13:34:26 GMT
recorded_with: VCR 3.0.3
