---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/nexus/regions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 04d828b7374896d7867b03289ea20957
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"447b75f14eaedf6b3e59ea269af620e4"
    body:
      encoding: UTF-8
      string: '{"regions":[{"country_code":"US","country":"United States","region_code":"CA","region":"California"},{"country_code":"US","country":"United
        States","region_code":"TX","region":"Texas"}]}'
  recorded_at: Sun, 15 Jan 2017 17:39:03 GMT
recorded_with: VCR 3.0.3
